:root {
  --mainColor: #0c53a0;
  --mainColor10: #0c53a010;
  --mainColor30: #0c53a030;
  --secondColor: #199353;
  --secondColor10: #19935310;
  --secondColor30: #19935330;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #f3f3f9;
  --textColor: #898989;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: IBMPlexSansArabic;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBMPlexSansArabic", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: var(--backgroundColor);
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
  color: var(--blackColor);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background: url(../img/BG.jpg);
  overflow-x: hidden;
  font-weight: 600;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.fancybox__container {
  z-index: 1999;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  float: none !important;
}
.form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 89, 91, 0.1882352941);
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  background-color: var(--whiteColor);
  border-radius: 2px;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  content: "" !important;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: var(--transition);
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.swiperContainer .swiper-button-next:hover::after,
.swiperContainer .swiper-button-prev:hover::after {
  filter: invert(1);
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: 0px;
  }
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 10px;
  transition: var(--transition);
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: var(--transition);
  width: 16px;
  border-radius: 2px;
  opacity: 0.3;
  background-color: var(--mainColor);
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
  width: 40px;
  opacity: 1;
  transition: var(--transition);
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--secondColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

.filepond--credits {
  display: none !important;
}

.filepond--image-clip {
  direction: ltr !important;
}

content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: calc(100vh - 300px);
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputField label {
  color: var(--textColor);
}

.checkBoxField {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  min-width: 150px;
}
.checkBoxField label {
  cursor: pointer;
}
.checkBoxField input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputForm {
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 100px;
}

textarea.inputForm {
  padding: 10px;
}

::-moz-placeholder {
  font-size: 12px !important;
}

::placeholder {
  font-size: 12px !important;
}

.icon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: var(--transition);
  background-color: transparent;
}
@media (max-width: 576px) {
  header {
    background-color: #ffffff;
  }
}
header nav {
  width: min(100% - 20px, 1320px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 8px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 70px;
  transition: var(--transition);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  header nav .logo img {
    height: 35px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 6px;
  transition: var(--transition);
}
header nav .navMenu .navLink {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  color: var(--blackColor);
}
header nav .navMenu .navLink:hover {
  color: var(--mainColor);
}
header nav .navMenu .navLink.btn {
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 8px 24px;
}
@media (max-width: 992px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    right: -100%;
    top: 0px;
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: start;
    background-color: var(--whiteColor);
    align-items: center;
    overflow: auto;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
    padding: 12px;
  }
}
header nav .navMenu.active {
  right: 0;
}
header nav .navMenu .dropdown {
  position: relative;
  cursor: pointer;
}
header nav .navMenu .dropdown .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(0% + 100px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: 150px;
  padding: 4px 0px;
  z-index: 1;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 24px 0px rgba(59, 59, 59, 0.0705882353);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  gap: 4px;
}
header nav .navMenu .dropdown .dropdown-content .dropdownItem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: var(--blackColor);
}
header nav .navMenu .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: calc(100% - 2px);
}
@media (max-width: 992px) {
  header nav .navMenu .dropdown {
    flex-direction: column;
    gap: 8px;
  }
  header nav .navMenu .dropdown .dropdown-content {
    position: absolute;
    top: unset;
    left: unset;
    transform: unset;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    z-index: 1;
    max-height: unset;
    background-color: #fafafa;
    box-shadow: none;
  }
  header nav .navMenu .dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: unset;
    left: unset;
  }
}
header nav .navMenu .magaMenu {
  cursor: pointer;
}
header nav .navMenu .magaMenu .magaMenu-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(0% + 100px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  width: calc(100vw - 100px);
  padding: 20px;
  z-index: 1;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 24px 0px rgba(59, 59, 59, 0.0705882353);
  transition: var(--transition);
  display: flex;
  max-height: 300px;
  overflow-y: auto;
  gap: 4px;
  flex-wrap: wrap;
}
header nav .navMenu .magaMenu .magaMenu-content .magaMenuItem {
  flex: 0 1 19%;
  min-width: 100px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: var(--blackColor);
}
header nav .navMenu .magaMenu:hover .magaMenu-content {
  opacity: 1;
  visibility: visible;
  top: calc(100% - 2px);
}
@media (max-width: 992px) {
  header nav .navMenu .magaMenu {
    flex-direction: column;
    gap: 8px;
  }
  header nav .navMenu .magaMenu .magaMenu-content {
    position: absolute;
    top: unset;
    left: unset;
    transform: unset;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    z-index: 1;
    max-height: unset;
    background-color: #fafafa;
    box-shadow: none;
  }
  header nav .navMenu .magaMenu:hover .magaMenu-content {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: unset;
    left: unset;
  }
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span {
  background-color: var(--mainColor) !important;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 992px) {
  header nav .navBtn {
    display: none;
  }
}

.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 0 5px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.9019607843);
}

footer {
  background: linear-gradient(45deg, var(--mainColor10), var(--mainColor30));
  color: var(--whiteColor);
  padding: 60px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
footer .inner {
  width: min(100% - 24px, 1320px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
footer .inner .col {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .inner .info {
  gap: 16px;
}
footer .inner .info img {
  height: 50px;
  width: -moz-min-content;
  width: min-content;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .inner .info p {
  color: var(--textColor);
}
footer .inner .info .social {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .inner .info .social a {
  display: flex;
  min-width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  border-radius: 4px;
  border: 1px solid var(--textColor);
  transition: var(--transition);
}
footer .inner .info .social a svg {
  width: 20px;
  height: 20px;
}
footer .inner .info .social a circle,
footer .inner .info .social a path {
  fill: #777;
  transition: var(--transition);
}
footer .inner .info .social a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-5px);
}
footer .inner .info .social a:hover circle,
footer .inner .info .social a:hover path {
  fill: var(--whiteColor);
}
footer .inner .hotLinks .links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
footer .inner .hotLinks .links a {
  flex: 1;
  min-width: 45%;
  color: var(--textColor);
  display: inline-flex;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  white-space: nowrap;
  gap: 4px;
}
footer .inner .hotLinks .links a::before {
  content: "-";
  color: var(--mainColor);
}
footer .inner .hotLinks .links a:hover {
  color: var(--mainColor);
  transform: translateX(-4px);
}
footer .inner .contactFooter .contactData {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .inner .contactFooter .contactData .contactLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--textColor);
  padding: 4px 0;
}
footer .inner .contactFooter .contactData .contactLink:hover {
  color: var(--mainColor);
  transform: translateX(-4px);
}
footer .inner .gallery .photos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
footer .inner .gallery .photos a {
  flex: 0 0;
  display: block;
}
footer .inner .gallery .photos img {
  aspect-ratio: 1/1;
  border-radius: 1px;
  min-width: 80px;
  border: 1px solid var(--whiteColor);
}
footer .inner .footerTitle {
  color: var(--secondColor);
  position: relative;
  text-transform: capitalize;
  padding-right: 16px;
  margin-bottom: 10px;
}
footer .inner .footerTitle::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 0;
  width: 2px;
  height: 90%;
  background-color: var(--mainColor);
}
footer .inner .footerTitle::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 70%;
  background-color: var(--mainColor);
}
footer .copyR {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid rgba(6, 37, 59, 0.1254901961);
  gap: 8px;
  color: var(--textColor);
}
footer .copyR .company {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--mainColor);
}
footer .copyR img {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */